body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100%; }

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  height: 100%; }

.header {
  height: 100%;
  color: #fff;
  background: linear-gradient(rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2)), url("./../img/night-bridge_1920-blured.jpg") 90% center/cover no-repeat; }
  .header__title {
    flex: 1 1 100%;
    text-align: center;
    font-size: 5rem;
    padding: 3vh 4vw;
    border: 1px solid;
    margin: 35vh 0 7vh;
    background: rgba(0, 0, 0, 0.2); }

.logo {
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%; }
  .logo:hover {
    cursor: pointer; }
  .logo__img {
    transition: all .3s ease;
    width: 4rem; }
    .logo__img--small {
      width: 2.6rem; }
  .logo__caption {
    margin: 0 10px;
    font-size: 1.8rem; }

.nav {
  padding: .5rem 0 .9rem;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all .4s ease;
  background: transparent; }
  .nav--fixed {
    background: rgba(0, 0, 0, 0.7); }
  .nav__container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; }
  .nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center; }
  .nav__item:not(:last-child) {
    margin-right: 2vw; }
  .nav__link {
    font-size: .9rem;
    background: #5a5a5a;
    background: linear-gradient(90deg, #e6af1a 0%, #ebbf47 12.5%, #e6af1a 25%, #e6af1a 25%, #fcf7e8 35%, #fcf7e8 35%, #fcf7e8 65%, #fcf7e8 65%, transparent 75%, transparent 80%, transparent 100%);
    background-size: 500% 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    transition-property: opacity, background;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.35, 0.76, 0.3, 0.99);
    will-change: opacity, background;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.5px; }
    .nav__link:hover {
      background-position: 0% 100%; }
      .nav__link:hover:after {
        background-position: 0% 100%; }
    .nav__link:after {
      opacity: 0;
      content: '';
      display: block;
      height: 2px;
      margin: 1px 0 0 0;
      background: #5a5a5a;
      background: linear-gradient(90deg, #ebb92d 0%, #ecc251 12.5%, #ebb92d 25%, #ebb92d 25%, #fcf7e8 35%, #fcf7e8 35%, #fcf7e8 65%, #fcf7e8 65%, transparent 75%, transparent 80%, transparent 100%);
      background-size: 500% 100%;
      background-repeat: no-repeat;
      background-position: 100% 100%;
      transition-property: opacity, background;
      transition-duration: 0.4s;
      transition-timing-function: cubic-bezier(0.35, 0.76, 0.3, 0.99);
      will-change: opacity, background;
      background-position: 50% 100%;
      transition-delay: 0.1s; }
    .nav__link--active:after {
      opacity: 1; }

.down-arrow {
  width: 3rem;
  height: 3rem;
  margin: 0 auto 4vh;
  overflow: visible;
  will-change: transform; }
  .down-arrow svg {
    animation: animateArrow 8s linear infinite; }
    .down-arrow svg:hover {
      animation-play-state: paused; }
  .down-arrow:hover {
    cursor: pointer; }
    .down-arrow:hover circle {
      stroke-dasharray: 300;
      stroke-dashoffset: 0; }
  .down-arrow circle {
    stroke-dasharray: 301;
    stroke-dashoffset: 301;
    transition-property: stroke-dasharray, stroke-dashoffset;
    transition-duration: .3s;
    transition-timing-function: ease;
    transform-origin: center;
    transform: rotate(-90deg); }

@keyframes animateArrow {
  0% {
    transform: translateY(-70%);
    opacity: 0; }
  5% {
    transform: translateY(0%);
    opacity: 1; }
  8% {
    transform: translateY(0%); }
  27% {
    transform: translateY(-14%); }
  31% {
    transform: translateY(0); }
  50% {
    transform: translateY(-14%); }
  54% {
    transform: translateY(0%); }
  73% {
    transform: translateY(-14%); }
  77% {
    transform: translateY(0%); }
  96% {
    transform: translateY(-14%);
    opacity: 1; }
  98% {
    opacity: .1; }
  100% {
    transform: translateY(100%);
    opacity: 0; } }
@keyframes drawCircle {
  to {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0; } }
@keyframes moveBackground {
  to {
    background-position: 100% 100%; } }
.form__btn {
  font-size: 0.7rem;
  padding: 0.375rem 0.75rem;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 11px 10px 0px 0px rgba(54, 54, 54, 0.35);
  will-change: transform, color, background-color;
  transition-property: transform, box-shadow, background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  background-color: #009494;
  border: 1px solid #009494 !important;
  line-height: 1.7 !important;
  border-radius: 0.25rem;
  outline: none;
  cursor: pointer; }
.form__btn:hover {
  background-color: #008585;
  box-shadow: 3px 3px 0px 0px rgba(54, 54, 54, 0.36);
  transform: translateY(6px); }
.form__btn:focus {
  border: 0 !important; }
.form__btn:active {
  border: 0;
  transform: translateY(10px);
  box-shadow: 1px 1px 0px 0px rgba(54, 54, 54, 0.32) !important;
  background-color: #007a7a !important; }

:root {
  height: 100%;
  font-size: 16px; }
  @media (max-width: 1199.98px) {
    :root .header {
      background-position-x: 50%; } }
  @media (max-width: 991.98px) {
    :root {
      font-size: 12px; } }
  @media (max-width: 767.98px) {
    :root {
      font-size: 10px; }
      :root .header {
        background-position-x: 40%; } }
  @media (max-width: 575.98px) {
    :root {
      font-size: 8px; } }

/*# sourceMappingURL=main.css.map */
