@keyframes animateArrow {
  0% {
    transform: translateY(-70%);
    opacity: 0;
  }
  5% {
    transform: translateY(0%);
    opacity: 1;
  }
  8% {
    transform: translateY(0%);
  }
  27% {
    transform: translateY(-14%);
  }
  31% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-14%);
  }
  54% {
    transform: translateY(0%);
  }
  73% {
    transform: translateY(-14%);
  }
  77% {
    transform: translateY(0%);
  }
  96% {
    transform: translateY(-14%);
    opacity: 1;
  }
  98% {
    opacity: .1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes drawCircle {
  to {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
}

@keyframes moveBgGradient {
  to {
    transform: translateX(0);
  }
}

@keyframes moveBgImage {
  to {
    transform: perspective(500px) translateZ(22px);
  }
}

@keyframes moveToRight {
  to {
    transform: translateX(0);
  }
}

@keyframes grow {
  to {
    transform: scaleY(1);
  }
}

.move-bg-gradient {
  animation: moveBgGradient .3s ease-out 2 alternate;
}

.animate-growing {
  animation: grow .5s cubic-bezier(.17, .96, .28, 1.2) forwards;
  transform-origin: 0 100%;
}

.animate-moving-right {
  animation: moveToRight 1s cubic-bezier(.49, .74, .36, .98) .5s forwards;
  transform-origin: 0 100%;
}

.animate-delayed-moving-right {
  animation: moveToRight 1s cubic-bezier(.49, .74, .36, .98) .8s forwards;
  transform-origin: 0 100%;
}