.events {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
    @media (max-width: 767.98px) {
      width: 90%;}
}

.event {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 10rem;
  margin: 3rem 1rem 2rem;
  padding: 1.3em 2em 0;
  font-size: 1.2rem;
  box-shadow: 0rem 0.3rem 0.7rem 0.2rem hsla(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  @media (max-width: 1199.98px) {
    //     width: 40%;
    //     flex-basis: 40%;
  }
  @media (max-width: 991.98px) {
    // width: 40%;
  }
  @media (max-width: 767.98px) {
    //     width: 100%;
    // flex-basis: 100%;
  }
  @media (max-width: 575.98px) {
    // width: 100%;
  }
  &__header {
      @media (max-width: 767.98px) {
        width: 100%;
      }
    width: 35%;
    margin: 0 0 1.2em;
    display: flex;
    flex-direction: column;
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 0 1.6em;
    border-radius: 0.3em;
  }
  &__title {
    font-size: 1.6em;
    margin: 0 0 0.2em;
    line-height: 1.2;
  }
  &__time {
    margin: 0 0 1.5em;
    font-size: 0.8em;
    font-weight: bold;
    color: hsl(0, 0, 15%);
  }
  &__text {
    width: 60%;
          @media (max-width: 767.98px) {
        width: 100%;
      }
    margin: 0;
    font-size: 0.9em;
    line-height: 1.8;
    text-align: justify;
    p {
      margin: 0 0 1.2em;
     
    }
  }
  &__signup {
    width: 100%;
  }
}

.form {
  &__btn {
    font-size: 1em;
    padding: 0.4em 0.9em;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0.2em 0.24em 0.3em 0 hsla(0, 0%, 21%, 0.3);
    will-change: transform, color, background-color;
    transition-property: transform, box-shadow, background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    background-color: hsl(44, 80%, 50%); //hsl(180, 100%, 29%);
    border: 1px solid hsl(44, 80%, 50%); //hsl(180, 100%, 29%) !important;
    border-radius: 0.2em;
    outline: none;
    cursor: pointer;
    text-align: center;
  }
  &__btn:hover {
    background-color: hsl(44, 80%, 47%); //hsl(180, 100%, 26%);
    box-shadow: 0.1em 0.1em 0.1em 0 hsla(0, 0%, 21%, 0.36);
    transform: translateY(0.1em);
  }
  &__btn:active {
    border: 0;
    transform: translateY(0.3em);
    box-shadow: 1px 1px 0px 0px hsla(0, 0%, 21%, 0.32) !important;
    background-color: hsl(44, 80%, 45); //hsl(180, 100%, 24%) !important;
  }
}