$menuItemBgColor: hsl(44, 80%, 50%);
$menuItemBgMidColor: hsl(44, 80%, 60%);
$menuItemBgTransitionColor: hsl(44, 80%, 95%);
//menu item underlined color
$menuItemUndColor: hsl(44, 83%, 55%);
$menuItemUndMidColor: hsl(44, 80%, 62%);
$menuItemUndTransitionColor: hsl(44, 80%, 95%);